* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", serif;
}

body {
  background: url("/site-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.main-error {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
  font-size: 3rem;
}
