.fixtures-container {
  margin: 6rem 30rem 10rem;
}

.fixtures {
  position: relative;
}

.fixtures-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
.previous-fixtures-form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  padding-left: 1rem;
  gap: 1rem;
  align-items: center;
}

.previous-fixtures-form label {
  font-size: 2.7rem;
}

.fixtures-heading {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: #00529f;
  text-transform: uppercase;
  margin-bottom: 6rem;
  font-weight: 500;
}

ul + .fixtures-heading {
  margin-top: 6rem;
}

.fixtures form {
  position: absolute;
  top: 4.25rem;
  left: 44.5rem;
}
