.feed-comment-item {
  margin: 0 1.5rem;
  margin-top: 1.8rem;
  border: 2px solid #bbb;
  border-radius: 2rem;
  padding: 1.5rem 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-comment-item-upper {
  width: 100%;
  align-items: center;
  display: flex;
  gap: 1.25rem;
}

.feed-comment-item-upper h3 {
  font-size: 1.8rem;
  color: #00529f;
  font-weight: 500;
}

.feed-comment-item-input {
  margin-top: 1rem;
  width: 100%;
  border-radius: 2rem;
  padding: 0.9rem 1.8rem;
  border: none;
  color: #333;
  background-color: #eee;
  font-size: 2rem;
  resize: none;
  overflow: hidden;
}

.feed-comment-item-input.comment-input-active {
  border: 2px solid #00529f;
}

.feed-comment-item-img {
  width: 3.25rem;
  height: 3.25rem;
}

.comment-item-edited {
  padding: 0 1rem;
  padding-bottom: 1rem;
  margin-right: auto;
  color: #999;
}

.feed-comment-item-upper span {
  font-style: italic;
  margin-left: auto;
}

.feed-comment-item-buttons {
  width: 95%;
  border-top: 2px solid #bbb;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.feed-comment-item-buttons > * {
  padding-top: 1.5rem;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.comment-item-save-cancel {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.comment-item-save-cancel > * {
  font-size: 1.6rem;
  border-radius: 2rem;
  padding: 0.5rem 0rem;
  width: 8rem;
  text-align: center;
  cursor: pointer;
}
