.modal-outside-blur {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 500;
  backdrop-filter: blur(1rem);
}
.hidden {
  display: none !important;
}
.modal-wrapper {
  display: flex;
  justify-content: center;
}

.modal {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  outline: 12px solid #ccc;
  position: fixed;
  top: 5rem;
}
.stadium-img {
  height: 45rem;
  width: 80rem;
  display: block;
}

.modal-venue {
  padding: 0.8rem;
  padding-top: 0;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #eee;
}

.modal-venue p {
  text-align: center;
  background-color: #00529f;
  min-width: 72rem;
  padding: 0.5rem;
  clip-path: polygon(100% 0, 100% 0, 95% 100%, 5% 100%, 0 0, 0 0);
}

.modal-venue span {
  padding-right: 0.5rem;
}

.modal-teams {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  color: #333;
  font-size: 2.4rem;
  padding: 1.5rem;
  padding-bottom: 0;
}

.modal-teams span {
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-home-team,
.modal-away-team {
  display: flex;
  align-items: center;
}

.modal-home-team span {
  padding-left: 4rem;
}
.modal-away-team span {
  padding-right: 4rem;
}

.modal-home-team p {
  margin-left: auto;
  margin-right: 2rem;
}

.modal-away-team p {
  margin-right: auto;
  margin-left: 2rem;
}

.modal .modal-teams img {
  display: block;
  height: 8rem;
}

.modal-upper-info,
.more-info {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.more-info {
  text-transform: uppercase;
}

.modal-upper-info .span-holder {
  display: flex;
  gap: 1.5rem;
  width: fit-content;
}

.modal-upper-info .span-holder span:nth-child(1) {
  text-align: right;
}

.modal-upper-info .span-holder span:nth-child(2) {
  text-align: left;
}

.winner {
  font-weight: 600;
}

.loser .stats {
  color: #777;
}

.modal-teams .real-blue {
  color: #00529f;
}

.modal-buttons > * {
  background-color: #ddd;
  border: 2px solid #bbb;
  color: #333;
  font-size: 2rem;
  margin: 1rem 2rem;
  border-radius: 100px;
  width: 12rem;
  padding: 0.5rem 1rem;
}

.modal-buttons > *:hover {
  background-color: #ccc;
  cursor: pointer;
}

.isActive {
  background-color: #00529f;
  color: #eee;
  border: 2px solid #00529f;
}

.isActive:hover {
  background-color: #00529f;
  cursor: auto;
}
