.players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.players h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
  color: #00529f;
  margin: 4rem 0;
}

.players-panel-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
