.players-modal {
  margin: 2.5rem 0 2.5rem;
  width: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: #333;
}

.players-modal-martop-full {
  margin-top: 5rem;
}

.players-modal-martop-none {
  margin-top: 0;
}

.players-modal-martop-full .x-button {
  top: 10rem;
}

.players-modal img {
  border-radius: 50%;
  border: 8px solid #eee;
}

.players-modal-info {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 0.3rem;
}
.players-modal-info h3 {
  color: #00529f;
  font-size: 2.7rem;
  margin: 0.5rem;
}

.players-modal-info p::before {
  font-weight: 600;
  content: "--";
  color: #00529f;
  margin: 0 1rem;
  font-size: 2rem;
  letter-spacing: -0.33rem;
}

.players-modal-info-p-wrapper {
  font-size: 1.8rem;
  display: flex;
  gap: 3rem;
}

.player-modal-info-first-col > *,
.player-modal-info-second-col > * {
  padding-bottom: 0.3rem;
}

.players-modal-position {
  margin-left: 0.75rem;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.players-modal-buttons {
  display: flex;
  justify-content: center;
}

.players-modal-buttons > * {
  background-color: #ddd;
  border: 2px solid #bbb;
  color: #333;
  font-size: 1.8rem;
  margin: 1rem 2rem;
  border-radius: 100px;
  width: 20rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.players-modal-buttons > *:hover {
  background-color: #ccc;
  cursor: pointer;
}

.isActive {
  background-color: #00529f;
  color: #eee;
  border: 2px solid #00529f;
}

.isActive:hover {
  background-color: #00529f;
  cursor: auto;
}

.loading-gk .loading-wrapper {
  width: 80rem;
  height: 66.1rem;
}

.loading-player .loading-wrapper {
  width: 80rem;
  height: 83.3rem;
}
