.home-section-wrapper {
  background: url("/home-background.jpg");
  background-size: cover;
  background-position-y: -2rem;
  background-repeat: no-repeat;
  height: 95vh;
  width: 100vw;
}

.home-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  height: 95vh;
  width: 100vw;
  position: relative;
}

.home-text {
  position: absolute;
  top: 14%;
  left: 7%;
}

.home-text h2 {
  color: #fff;
  text-transform: none;
  font-size: 8rem;
  width: 120rem;
  margin-bottom: 2.5rem;
}

.home-text p {
  padding-bottom: 2rem;
  padding-left: 2rem;
  color: #fff;
  text-transform: none;
  font-size: 3rem;
  font-style: italic;
}

.home-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  animation: moveInBottomHome 1s;
}

.sign-up-btn,
.login-btn {
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 1.25rem 4rem;
  border-radius: 100rem;
  width: 20rem;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s;
  position: relative;
}

.sign-up-btn {
  background-color: rgba(204, 150, 0, 0.8);
  border: 0.5rem solid #cc9600;
}

.sign-up-btn:hover {
  background-color: #cc9600;
  color: #eee;
  bottom: 0.1rem;
}

.home-text .here-you-can {
  font-style: normal;
}

@keyframes moveInBottomHome {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0rem);
  }
}
