.squads-player {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.squads-player img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 4px solid #ddd;
}

.player-textbox {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.squads-player span {
  font-weight: 400;
}

.span-grey {
  color: #666;
}

.span-rating {
  font-size: 1.35rem;
  border-radius: 0.5rem;
  color: #fff;
  padding: 0.1rem 0.5rem;
}

.span-rating.poor {
  background-color: #eb1c23;
}

.span-rating.bad {
  background-color: #ff7b00;
}

.span-rating.average {
  background-color: #e7b100;
}

.span-rating.good {
  background-color: rgb(171, 184, 0);
}

.span-rating.very-good {
  background-color: #5cb400;
}

.span-rating.excellent {
  background-color: #009e9e;
}

.hasnt-played {
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
}
