.statistics {
  width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  font-size: 1.8rem;
  margin: 3rem 0;
}

.stats-sides {
  margin-top: 3rem;
  width: 70rem;
  display: flex;
  justify-content: space-between;
}

.stats-sides > * {
  display: flex;
  align-items: end;
  gap: 1.5rem;
}

.stats-sides img {
  width: 6rem;
  height: 6rem;
}

.stats-sides p {
  font-size: 3rem;
}

.real-stats-side p {
  color: #333;
}

.other-stats-side p {
  color: red;
}

.statistics img {
  height: 6rem;
  width: 6rem;
}

.type-of-stat {
  position: relative;
}

.type-of-stat p {
  font-weight: 500;
}

.stat.real {
  font-size: 1.6rem;
  z-index: 100;
  color: #fff;
  position: absolute;
  text-align: right;
  top: 3.25rem;
  right: 50%;
  padding-right: 0.75rem;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  background-color: #333;
}

.stat.other {
  font-size: 1.6rem;
  z-index: 100;
  color: #fff;
  position: absolute;
  text-align: left;
  top: 3.25rem;
  left: 50%;
  padding-left: 0.75rem;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  background-color: red;
}

.bg-right {
  content: "s";
  color: #ddd;
  position: absolute;
  text-align: left;
  width: 30rem;
  height: 2rem;
  top: 3.25rem;
  left: 50%;
  padding-left: 0.75rem;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  background-color: #ddd;
}

.bg-left {
  content: "s";
  color: red;
  position: absolute;
  text-align: left;
  width: 30rem;
  height: 2rem;
  top: 3.25rem;
  right: 50%;
  padding-left: 0.75rem;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  background-color: #ddd;
}

.no-statistics-available {
  margin: 2.5rem 0 5rem;
  font-size: 2rem;
}
