.upcoming-matches {
  margin: 5rem 30rem;
}

.matches-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
.previous-matches-form {
  width: 100%;
  display: flex;
  justify-content: start;
  padding-bottom: 3rem;
  padding-left: 1rem;
  gap: 1rem;
  align-items: center;
}

.previous-matches-form label {
  font-size: 2.5rem;
}
