.summary {
  margin: 2rem 0;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #444;
}

.half-text {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  font-weight: 600;
  background-color: #00529f;
  width: 70rem;
  padding: 0.5rem;
  border-radius: 2rem;
  margin: 1.5rem 0;
}

.score {
  display: flex;
  gap: 0.5rem;
  border: 2px solid #eee;
  background-color: #fff;
  border-radius: 100px;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.score p {
  font-size: 1.4rem;
  padding: 0.1rem;
}

.card {
  width: 1.5rem;
}

.ball,
.subst {
  width: 1.8rem;
  height: 1.8rem;
}

.home,
.away {
  padding: 0.75rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.home {
  margin-left: 1.5rem;
}

.away {
  margin-right: 1.5rem;
  justify-content: right;
  flex-direction: row-reverse;
}

.away .time-elapsed,
.away .icon {
  margin-left: 0.25rem;
}

.home .time-elapsed,
.home .icon {
  margin-right: 0.25rem;
}

.time-elapsed,
.player,
.joining-player {
  font-weight: 600;
}

.assist,
.leaving-player {
  color: #666;
}

.coaches-wrapper {
  width: 70rem;
}
.coaches {
  margin: 3rem;
  display: flex;
  justify-content: space-between;
}

.home-coach,
.away-coach {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.home-coach img,
.away-coach img {
  width: 7.5rem;
  border-radius: 50%;
  border: 4px solid #ccc;
}

.away-coach {
  flex-direction: row-reverse;
}

.away-coach .coaches-text {
  text-align: right;
}

.coaches-text p:nth-child(1) {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.coaches-text p:nth-child(2),
.coaches-text p:nth-child(3) {
  font-size: 1.5rem;
  color: #666;
}
